{
  "glob_username": "",
  "glob_password": "",
  "glob_street": "",
  "glob_zip": "",
  "glob_contact_name": "",
  "glob_phone_number": "",
  "glob_photo_path": "/path/to/photos/",
  "glob_ad_prefix": "Text to add which comes before the actual ad description.\nLeave free if not needed\n",
  "glob_ad_suffix": "Text to add which comes after the actual ad description.\nLeave free if not needed\n",
  "webdriver_enabled": false,
  "update_interval": 30, // number of days an ad has to be old in order to be reposted
  "ads": [
    { "title": "Example 1",
      "desc": "... with a negotiable price (5 EUR) and some photos.",
      "enabled": "1",
      "price": "5",
      "price_type": "NEGOTIABLE",
      "caturl": "https://www.ebay-kleinanzeigen.de/p-kategorie-aendern.html#?path=210/223/sonstige_autoteile&isParent=false",
      "shipping_type": "PICKUP",
      "photofiles": [ "file1.jpg", "file2.jpg" ],
      "zip" : "33333"
    },
    { "title": "Example 2",
      "description_file" : "/abspath/to/file.txt", // will not read contents of "desc"
      "enabled": "1",
      "price": "10",
      "shipping_type": "SHIPPING",
      "price_type": "FIXED",
      "caturl": "https://www.ebay-kleinanzeigen.de/p-kategorie-aendern.html#?path=161/245/other/null/",
      "photo_dir": "folder_name/or/subdirectory/with/images/",
      "additional_category_options": {
        "handy_telekom.device_equipment_s": "Gerät",
        "handy_telekom.condition_s": "Gebraucht",
        "handy_telekom.versand_s": "Versand möglich"
      }
    }
  ]
}
