{
  "glob_username": "",
  "glob_password": "",
  "glob_street": "",
  "glob_zip": "",
  "glob_contact_name": "",
  "glob_phone_number": "",
  "glob_photo_path": "/path/to/photos/",
  "glob_ad_prefix": "Text to add which comes before the actual ad description.\nLeave free if not needed\n",
  "glob_ad_suffix": "Text to add which comes after the actual ad description.\nLeave free if not needed\n", 
  "ads": [
    {"title": "",
     "desc": "",
     "price": "",
     "price_type": "NEGOTIABLE",
     "caturl": "",
     "photofiles": []
    },
    {"title": "",
     "desc": "",
     "price": "",
     "price_type": "FIXED",
     "caturl": "",
     "photofiles": []
    }
  ]
}